{{ if .Site.Data.pricing.enable}}
{{"<!-- Start Pricing section -->" | safeHTML}}
<section id="pricing" class="pricing section">
    <div class="container">
        <div class="row">

            {{"<!-- section title -->" | safeHTML}}
            <div class="col-lg-12">
                <div class="title text-center wow fadeInDown" data-wow-duration="500ms">
                    <h2>{{ with .Site.Data.pricing.heading }} {{ . }} {{ end }}<span class="color"> {{ with .Site.Data.pricing.headingSpan }} {{ . }} {{ end }}</span></h2>
                    <div class="border-meghna"></div>
                </div>
            </div>
            {{"<!-- /section title -->" | safeHTML}}

            {{ range .Site.Data.pricing.pricingTable }}
            {{"<!-- single pricing table -->" | safeHTML}}
            <div class="col-lg-3 col-md-6 col-12 text-center wow fadeInUp" data-wow-duration="200ms">
                <div class="price-item">

                    {{"<!-- plan name & value -->" | safeHTML}}
                    <div class="price-title">
                        <h3>{{ .title }}</h3>
                        <p><strong class="value">{{ .price }}</strong>/ {{ .time }}</p>
                    </div>

                    {{"<!-- plan description -->" | safeHTML}}
                    <ul>
                        {{ range .plan }}
                        <li>{{ .planDetails }}</li>
                        {{ end }}
                    </ul>

                    {{"<!-- signup button -->" | safeHTML}}
                    <!--RCL: set all signup buttons to activate gopaywall window -->
                    <a class="btn btn-transparent" href="javascript:gopaywall_showregister()">{{ .btnText }}</a>
                </div>
            </div>
            {{"<!-- end single pricing table -->" | safeHTML}}
            {{ end }}

            <!--RCL: This whole section is custom and adds the donation button -->
            {{with .Site.Data.pricing.DonationButton}}
                <div class="col-lg-12 col-md-6 col-12 mx-auto text-center wow fadeInUp" data-wow-duration="200ms">
                    <div class="price-item">
                        <div class="price-title">
                            <h3>{{ .title }}</h3>
                            <p><strong class="value">{{ .price }}</strong>/ {{ .time }}</p>
                        </div>
                        <ul>
                            {{ range .plan }}
                                <li>{{ .planDetails | markdownify }}</li>
                            {{ end }}
                        </ul>
                        <a class="btn btn-transparent" href={{.btnURL | absURL}}>{{ .btnText }}</a>
                    </div>
                </div>
            {{end}}
            
        </div>
    </div>
</section>
{{"<!-- /pricing -->" | safeHTML}}
{{ end }}